/**
 * Variables
*/

:root {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-black-dark: #333333;
    --color-blue-dark: #053361;
    --color-blue-medium: #1FA9DC;
    --color-blue-light: #00C4FF;
    --color-blue-border: #4C79A5;
    --color-blue-shadow: #717171;
    --color-blue-transparent: #F4F9FF;
    --color-yellow: #FFD900;
    --color-yellow-dark: #DDBC00;
    --color-gray-border: #E3E3E3;
    --color-gray-background: #E5E5E5;
    --color-gray-border-dark: #727272;
    --color-gray-border-field: #A3A3A3;
    --color-gray-border-medium: #D6D6D6;
    --color-gray-light: #EBEBEB;

    --font-family-body: 'Lato', sans-serif;
    --font-family-heading: 'Nobile', sans-serif;
}

/* Components */
