html {
    overflow-y: scroll;
	max-height: 100%;
	line-height: 1.5;
}

body {
    display: flex;
	min-height: calc(var(--vh, 1vh) * 100);
	flex-direction: column;
    font-family: var(--font-family-body);
    color: var(--body-color);
    background-color: var(--color-yellow);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-heading);
    font-weight: 700;
    margin: 0;
}

p {
    margin: 0 0 1.5rem;
    &:last-child {
        margin: 0;
    }
}

a, button {
    cursor: pointer;
    text-decoration: none;
    transition: all 300ms ease-out;
}

span {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
}

figure {
    display: block;
    margin: 0;
    padding: 0;
    img {
        font-family: var(--font-family-heading);
        font-size: 10px;
        line-height: 12px;
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.cu-main {
    position: relative;
    flex: 1;
    box-shadow: 0 0 2rem rgba(0,0,0,0.2);
    background: var(--color-white);
    z-index: 2;
    .flickity-page-dots {
        .dot {
            background: var(--color-gray-light);
            opacity: 1;
            &.is-selected {
                background: var(--color-blue-light);
            }
        }
    }
    .flickity-button {
        border-radius: none;
        background: none;
        .flickity-button-icon {
            fill: var(--color-blue-dark);
            transition: fill 300ms ease-out;
            will-change: fill;
        }
        &.previous {
            left: -3rem;
        }
        &.next {
            right: -3rem;
        }
        &:hover {
            .flickity-button-icon {
                fill: var(--color-yellow);
            }
        }
        &:disabled {
            opacity: 1;
            .flickity-button-icon {
                fill: var(--color-gray-border);
            }
        }
        &:focus {
            box-shadow: none;
            outline: none;
        }
    }
}

.cu-container {
    max-width: 93rem;
    margin: 0 auto;
    padding: 0 2.5rem;
    height: auto;
    &--category {
        max-width: 94.5rem;
    }
    &--single {
        max-width: none;
        padding: 0;
    }
}

.cu-button {
    cursor: pointer;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    font-size: 0;
    line-height: 0;
    transition: background-color 300ms ease-out;
    will-change: background-color;
    &--filled {
        display: inline-flex;
        flex-flow: row nowrap;
        font-size: 1.25rem;
        line-height: 2.5rem;
        font-weight: 700;
        letter-spacing: 0.02rem;
        padding: 0 0.9375rem;
        text-transform: uppercase;
        color: var(--color-white);
        border-radius: 0.3125rem;
        background: var(--color-blue-light);
        &:hover {
            background: vaR(--color-blue-dark);
        }
    }
}