@import url(https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Nobile:wght@400;500;700&display=swap);/* By Athlon Front-End Team */
/* Core variables */
/**
 * Variables
*/
:root {
  --color-white: #FFFFFF;
  --color-white-gray: #F5F5F5;
  --color-black: #000000;
  --color-black-dark: #333333;
  --color-blue-dark: #053361;
  --color-blue-dark-transparent: #001f3df8;
  --color-blue-medium: #1FA9DC;
  --color-blue-light: #00C4FF;
  --color-blue-border: #4C79A5;
  --color-blue-faded: #88A2BC;
  --color-blue-shadow: #717171;
  --color-blue-transparent: #F4F9FF;
  --color-yellow: #FFD900;
  --color-yellow-dark: #DDBC00;
  --color-gray-border: #E3E3E3;
  --color-gray-background: #E5E5E5;
  --color-gray-background-dark: #E8E8E8;
  --color-gray-border-dark: #727272;
  --color-gray-border-field: #A3A3A3;
  --color-gray-border-medium: #D6D6D6;
  --color-gray-light: #EBEBEB;
  --font-family-body: "Lato", sans-serif;
  --font-family-heading: "Nobile", sans-serif;
}

/* Components */
/* CSS Reset */
/* normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
 ========================================================================== */
/**
* Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
* Render the `main` element consistently in IE.
*/
main {
  display: block;
}

/**
* Correct the font size and margin on `h1` elements within `section` and
* `article` contexts in Chrome, Firefox, and Safari.
*/
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
 ========================================================================== */
/**
* 1. Add the correct box sizing in Firefox.
* 2. Show the overflow in Edge and IE.
*/
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
 ========================================================================== */
/**
* Remove the gray background on active links in IE 10.
*/
a {
  background-color: transparent;
}

/**
* 1. Remove the bottom border in Chrome 57-
* 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
* Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
 ========================================================================== */
/**
* Remove the border on images inside links in IE 10.
*/
img {
  border-style: none;
}

/* Forms
 ========================================================================== */
/**
* 1. Change the font styles in all browsers.
* 2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/
button,
input {
  /* 1 */
  overflow: visible;
}

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
* Correct the inability to style clickable types in iOS and Safari.
*/
[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

/**
* Remove the inner border and padding in Firefox.
*/
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
* Restore the focus styles unset by the previous rule.
*/
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
* Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
* 1. Correct the text wrapping in Edge and IE.
* 2. Correct the color inheritance from `fieldset` elements in IE.
* 3. Remove the padding so developers are not caught out when they zero out
*    `fieldset` elements in all browsers.
*/
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
* Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/
progress {
  vertical-align: baseline;
}

/**
* Remove the default vertical scrollbar in IE 10+.
*/
textarea {
  overflow: auto;
}

/**
* 1. Add the correct box sizing in IE 10.
* 2. Remove the padding in IE 10.
*/
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
* Remove the inner padding in Chrome and Safari on macOS.
*/
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
 ========================================================================== */
/*
* Add the correct display in Edge, IE 10+, and Firefox.
*/
details {
  display: block;
}

/*
* Add the correct display in all browsers.
*/
summary {
  display: list-item;
}

/* Misc
 ========================================================================== */
/**
* Add the correct display in IE 10+.
*/
template {
  display: none;
}

/**
* Add the correct display in IE 10.
*/
[hidden] {
  display: none;
}

li > ol,
li > ul {
  margin-bottom: 0;
}

* {
  box-sizing: border-box;
}
*:after, *:before {
  box-sizing: border-box;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  line-height: inherit;
}

/* CSS print */
/**
 * Print Stylesheet
*/
@media print {
  @page {
    margin: 1cm;
  }
  body {
    background: var(--color-white);
    color: var(--color-black);
  }

  a {
    page-break-inside: avoid;
  }

  blockquote {
    page-break-inside: avoid;
  }

  table,
pre {
    page-break-inside: avoid;
  }

  ul, ol, dl {
    page-break-before: avoid;
  }
}
/* Fonts */
/**
 * Fonts
*/
/* Mixins, helpers and functions */
/**
 * Helper mixins
*/
/* Vendor */
/* Components */
/* Browser specific styles */
/**
 * Dirty hacks, yes internet explorer, we are looking at you
*/
/* App styles */
html {
  overflow-y: scroll;
  max-height: 100%;
  line-height: 1.5;
}

body {
  display: flex;
  min-height: calc(var(--vh, 1vh) * 100);
  flex-direction: column;
  font-family: var(--font-family-body);
  color: var(--body-color);
  background-color: var(--color-yellow);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
  font-weight: 700;
  margin: 0;
}

p {
  margin: 0 0 1.5rem;
}
p:last-child {
  margin: 0;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
  transition: all 300ms ease-out;
}

span {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
}

figure {
  display: block;
  margin: 0;
  padding: 0;
}
figure img {
  font-family: var(--font-family-heading);
  font-size: 10px;
  line-height: 12px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.cu-main {
  position: relative;
  flex: 1;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  background: var(--color-white);
  z-index: 2;
}
.cu-main .flickity-page-dots .dot {
  background: var(--color-gray-light);
  opacity: 1;
}
.cu-main .flickity-page-dots .dot.is-selected {
  background: var(--color-blue-light);
}
.cu-main .flickity-button {
  border-radius: none;
  background: none;
}
.cu-main .flickity-button .flickity-button-icon {
  fill: var(--color-blue-dark);
  transition: fill 300ms ease-out;
  will-change: fill;
}
.cu-main .flickity-button.previous {
  left: -3rem;
}
.cu-main .flickity-button.next {
  right: -3rem;
}
.cu-main .flickity-button:hover .flickity-button-icon {
  fill: var(--color-yellow);
}
.cu-main .flickity-button:disabled {
  opacity: 1;
}
.cu-main .flickity-button:disabled .flickity-button-icon {
  fill: var(--color-gray-border);
}
.cu-main .flickity-button:focus {
  box-shadow: none;
  outline: none;
}

.cu-container {
  max-width: 93rem;
  margin: 0 auto;
  padding: 0 2.5rem;
  height: auto;
}
.cu-container--category {
  max-width: 94.5rem;
}
.cu-container--single {
  max-width: none;
  padding: 0;
}

.cu-button {
  cursor: pointer;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  font-size: 0;
  line-height: 0;
  transition: background-color 300ms ease-out;
  will-change: background-color;
}
.cu-button--filled {
  display: inline-flex;
  flex-flow: row nowrap;
  font-size: 1.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.02rem;
  padding: 0 0.9375rem;
  text-transform: uppercase;
  color: var(--color-white);
  border-radius: 0.3125rem;
  background: var(--color-blue-light);
}
.cu-button--filled:hover {
  background: vaR(--color-blue-dark);
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 22px 0;
  border-radius: 4px;
}

.pagination > li {
  display: inline;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.6;
  text-decoration: none;
  color: var(--color-blue-light);
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  z-index: 2;
  color: #216a94;
  background-color: #eee;
  border-color: #ddd;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  z-index: 3;
  color: #fff;
  background-color: var(--color-blue-light);
  border-color: var(--color-blue-light);
  cursor: default;
}

.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover,
.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover {
  color: #777;
  background-color: #fff;
  border-color: #ddd;
  cursor: not-allowed;
}

.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}

.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}

.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.cu-header {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  z-index: 10;
}
.cu-header__search {
  width: 2.5rem;
  height: 2.5rem;
  -webkit-mask: url("../img/svg/icon-search.svg") center no-repeat;
          mask: url("../img/svg/icon-search.svg") center no-repeat;
  -webkit-mask-size: 1.5rem;
          mask-size: 1.5rem;
  background: var(--color-blue-dark);
}
.cu-header__search:hover {
  background: var(--color-yellow);
}
.cu-header__main, .cu-header__bar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.125rem;
}
.cu-header__main__brand, .cu-header__bar__brand {
  display: block;
  font-family: Arial;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 300ms ease-out;
  will-change: color, font-size, width;
}
@media (max-width: 600px) {
  .cu-header__main, .cu-header__bar {
    padding: 0 0.625rem 0 1.5625rem;
  }
}
.cu-header__main {
  position: relative;
  height: 5.625rem;
  z-index: 10;
  background: var(--color-white);
}
.cu-header__main__brand {
  width: 6.75rem;
  font-size: 1.5625rem;
  line-height: 1.4375rem;
  color: var(--color-blue-dark);
}
.cu-header__main__brand:hover {
  color: var(--color-blue-light);
}
@media (max-width: 600px) {
  .cu-header__main__brand {
    width: 5rem;
    font-size: 1.3125rem;
    line-height: 1.1875rem;
  }
}
@media (max-width: 600px) {
  .cu-header__main {
    height: 3.75rem;
  }
}
.cu-header__bar, .cu-header__search-bar {
  position: fixed;
  width: calc(var(--vw, vw) * 100);
  left: 0;
  box-sizing: border-box;
}
.cu-header__bar {
  height: 3.5rem;
  top: 0;
  z-index: 5;
  background: var(--color-blue-dark);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
}
.cu-header__bar__brand {
  font-size: 1.375rem;
  line-height: 1.375rem;
  letter-spacing: 0;
  color: var(--color-white);
}
@media (max-width: 600px) {
  .cu-header__bar__brand {
    font-size: 0.9375rem;
    line-height: 0.9375rem;
  }
}
.cu-header__bar .cu-header__search {
  background: var(--color-white);
}
.cu-header__bar .cu-header__search:hover {
  background: var(--color-yellow);
}
@media (max-width: 600px) {
  .cu-header__bar {
    height: 2.5rem;
    padding: 0 0.3125rem 0 0.9375rem;
  }
  .cu-header__bar .cu-header__search {
    -webkit-mask-size: 1.125rem;
            mask-size: 1.125rem;
  }
}
.cu-header__search-bar {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 2.1875rem;
  top: 5.625rem;
  box-shadow: 0 0 0.5rem var(--color-blue-shadow);
  background: var(--color-yellow);
  transform: translateY(-200%);
  transition: transform 400ms ease-out, top 150ms linear;
  will-change: transform, top;
  z-index: 2;
}
.cu-header__search-bar .cu-search-form {
  width: 85%;
  max-width: 37.5rem;
}
.cu-header__search-bar[aria-hidden=false] {
  transform: translateY(0);
}
@media (max-width: 600px) {
  .cu-header__search-bar {
    top: 3.75rem;
    padding: 0.375rem 1.5625rem;
  }
}
.cu-header--scrolled .cu-header__search-bar {
  top: 3.5rem;
}
@media (max-width: 600px) {
  .cu-header--scrolled .cu-header__search-bar {
    top: 2.5rem;
  }
}

.cu-footer {
  position: fixed;
  width: calc(var(--vw, vw) * 100);
  bottom: 0;
  left: 0;
  color: var(--color-white);
  background: var(--color-blue-dark);
  z-index: 1;
}
.cu-footer__top, .cu-footer__bottom {
  display: flex;
  align-items: center;
}
.cu-footer__top {
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
  padding: 3.125rem 0;
}
.cu-footer__top h3 {
  font-size: 2.1875rem;
  line-height: 2.1875rem;
  letter-spacing: -0.045rem;
  margin-bottom: 1rem;
}
.cu-footer__top p {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 3.125rem;
}
.cu-footer__top ul {
  margin: 3.125rem 0 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.75rem 5rem;
}
.cu-footer__top ul li {
  text-align: left;
}
.cu-footer__top ul li a {
  color: var(--color-blue-light);
}
.cu-footer__top ul li a:hover {
  color: var(--color-yellow);
}
.cu-footer__bottom {
  align-items: flex-end;
  justify-content: space-between;
  padding: 1.5625rem 0;
  margin: 0 2.1875rem;
  border-top: 1px solid var(--color-blue-border);
}
.cu-footer__bottom__copy h3 {
  font-family: Arial;
  width: 6.75rem;
  font-size: 1.5625rem;
  line-height: 1.4375rem;
  text-transform: uppercase;
  margin-bottom: 0.8125rem;
}
.cu-footer__bottom__copy h3:hover {
  color: var(--color-yellow);
}
.cu-footer__bottom__copy p {
  font-size: 0.75rem;
  line-height: 0.75rem;
}
.cu-footer__bottom__contact {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.cu-footer__bottom__contact, .cu-footer__bottom__contact li {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}
.cu-footer__bottom__contact li {
  flex-flow: row nowrap;
  align-items: center;
  margin: 0 0 0.9375rem;
}
.cu-footer__bottom__contact li::before {
  content: "";
  width: 1.5625rem;
  height: 1.5625rem;
  margin-right: 1.25rem;
  -webkit-mask: url("../img/svg/icon-phone.svg") center/contain no-repeat;
          mask: url("../img/svg/icon-phone.svg") center/contain no-repeat;
  background: var(--color-white);
  transition: background-color 300ms ease-out;
  will-change: background-color;
}
.cu-footer__bottom__contact li:hover::before {
  background: vaR(--color-yellow);
}
.cu-footer__bottom__contact li:hover a {
  color: var(--color-blue-light);
}
.cu-footer__bottom__contact li:last-child {
  margin: 0;
}
.cu-footer__bottom__contact li:last-child::before {
  width: 1.6875rem;
  height: 1.25rem;
  -webkit-mask-image: url("../img/svg/icon-mail.svg");
          mask-image: url("../img/svg/icon-mail.svg");
}
.cu-footer__bottom__contact li a {
  display: inline-block;
  font-size: 1.5625rem;
  line-height: 1.5625rem;
  letter-spacing: -0.02rem;
  text-align: right;
}

.cu-search-form {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2.375rem;
  padding: 0 0.1875rem 0 0.75rem;
  border: 1px solid var(--color-gray-border);
  border-radius: 1.1875rem;
  background: var(--color-white);
  transition: border-color 300ms ease-out;
}
.cu-search-form input {
  flex: 1;
  height: 100%;
  color: var(--color-blue-dark);
  border: none;
  background: transparent;
}
.cu-search-form input:focus {
  box-shadow: none;
  outline: none;
}
.cu-search-form input::-moz-placeholder {
  opacity: 1;
  color: var(--color-blue-dark);
}
.cu-search-form input:-ms-input-placeholder {
  opacity: 1;
  color: var(--color-blue-dark);
}
.cu-search-form input::placeholder {
  opacity: 1;
  color: var(--color-blue-dark);
}
.cu-search-form button {
  flex-shrink: 0;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  background: var(--color-blue-light);
}
.cu-search-form button::before {
  content: "";
  width: 0.875rem;
  height: 0.875rem;
  -webkit-mask: url("../img/svg/icon-search.svg") center/contain no-repeat;
          mask: url("../img/svg/icon-search.svg") center/contain no-repeat;
  background: var(--color-white);
  transition: background-color 300ms ease-out;
  will-change: background-color;
}
.cu-search-form button:hover {
  background: var(--color-yellow);
}
.cu-search-form button:hover::before {
  background: var(--color-blue-dark);
}
.cu-search-form:hover, .cu-search-form:focus-within {
  border-color: var(--color-gray-border-field);
}
@media (max-width: 600px) {
  .cu-search-form {
    height: 2rem;
  }
  .cu-search-form button {
    width: 1.625rem;
    height: 1.625rem;
  }
}

.cu-select {
  position: relative;
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  font-size: 1.0625rem;
  line-height: 2.375rem;
  font-weight: 700;
  cursor: pointer;
  padding-right: 0.75rem;
  border-radius: 0.375rem;
  transition: border-color 300ms ease-out;
  will-change: border-color;
  border: 1px solid var(--color-gray-border);
}
.cu-select::after {
  position: absolute;
  content: "";
  width: 0.75rem;
  height: 1rem;
  justify-self: end;
  right: 0.75rem;
  margin-top: 4px;
  transition: background-color 300ms ease-out;
  will-change: background-color;
  background-color: var(--color-blue-light);
  -webkit-mask: url("..//img/svg/icon-arrow.svg") center/contain no-repeat;
          mask: url("..//img/svg/icon-arrow.svg") center/contain no-repeat;
}
.cu-select select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0.75rem;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  grid-area: select;
  z-index: 1;
}
.cu-select select::-ms-expand {
  display: none;
}
.cu-select:hover, .cu-select:focus-within {
  border-color: var(--color-gray-border-field);
}
.cu-select:hover::after, .cu-select:focus-within::after {
  background: var(--color-yellow);
}

.cu-card {
  width: 100%;
}
.cu-card__wrapper {
  margin: 0.9375rem;
  border: 1px solid var(--color-gray-border);
  box-shadow: 0.1875rem 0.1875rem 0.375rem rgba(0, 0, 0, 0.1);
}
.cu-card__wrapper, .cu-card__info {
  display: flex;
  flex-flow: column nowrap;
}
.cu-card__image {
  position: relative;
  width: 100%;
  padding-top: 100%;
  height: 0;
}
.cu-card__image a, .cu-card__image img {
  display: block;
  width: 100%;
  height: 100%;
}
.cu-card__image a {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.cu-card__image a:hover img {
  transform: scale(1.025);
}
.cu-card__image img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: transform 300ms ease-out;
}
.cu-card__info {
  padding: 0.75rem;
  flex: 1;
  color: var(--color-black-dark);
}
.cu-card__info__model {
  font-family: var(--font-family-body);
  font-size: 1.125rem;
  line-height: 1.125rem;
  letter-spacing: -0.02rem;
  margin: 0 0 0.25rem;
}
.cu-card__info__meta, .cu-card__info__kms {
  font-size: 0.8125rem;
  line-height: 1rem;
  font-weight: 400;
  margin: 0;
}
.cu-card__info__footer {
  margin-top: 1.125rem;
}
.cu-card__info__footer, .cu-card__info__footer__price {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.cu-card__info__footer__price {
  justify-content: flex-start;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: -0.02rem;
}
.cu-card__info__footer__price::before {
  content: "$";
  font-size: 0.7em;
  align-self: flex-start;
  margin-top: 2px;
  margin-right: 1px;
}
.cu-card__info__footer .cu-button {
  font-size: 0.625rem;
  line-height: 1.375rem;
  padding: 0 0.5rem;
}
.cu-card--full .cu-card__wrapper {
  margin: 1.25rem;
}
.cu-card--full .cu-card__image {
  padding-top: 56.3076923077%;
}
.cu-card--full .cu-card__info {
  padding: 1.25rem;
}
.cu-card--full .cu-card__info__model {
  font-size: 1.5625rem;
  line-height: 1.5625rem;
}
.cu-card--full .cu-card__info__meta {
  margin-top: 0.3125rem;
}
.cu-card--full .cu-card__info__meta, .cu-card--full .cu-card__info__meta p {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.cu-card--full .cu-card__info__meta p {
  margin: 0;
  font-size: 1.0625rem;
  line-height: 1.0625rem;
}
.cu-card--full .cu-card__info__meta p:first-child::after {
  display: block;
  content: "";
  width: 0.3125rem;
  height: 0.3125rem;
  border-radius: 50%;
  margin: 0 0.625rem;
  background: var(--color-blue-light);
}
.cu-card--full .cu-card__info__footer__price {
  font-size: 1.875rem;
  line-height: 1.875rem;
}
.cu-card--full .cu-card__info__footer .cu-button {
  font-size: 0.75rem;
  line-height: 1.875rem;
  padding: 0 0.9375rem;
}
.cu-card--full .cu-card__info__extras {
  display: block;
  padding: 0.9375rem 0 0;
  margin: 1.25rem 0 0;
  list-style-type: none;
  border-top: 1px solid var(--color-gray-border);
}
.cu-card--full .cu-card__info__extras li {
  font-size: 1.0625rem;
  line-height: 1.375rem;
  letter-spacing: -0.02rem;
  font-weight: 400;
  margin: 0 0 0.5rem;
}
.cu-card--full .cu-card__info__extras li:last-child {
  margin: 0;
}

.cu-modal {
  position: fixed;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  background: var(--color-blue-dark-transparent);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: -1;
  transition: visibility 10ms linear, z-index 10ms linear, opacity 400ms ease-out;
  transition-delay: 410ms, 410ms, 0ms;
}
.cu-modal__container {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  padding: 3rem 0;
  max-width: 43.75rem;
  max-height: calc(var(--vh, vh) * 70);
  border-radius: 0.625rem;
  background: var(--color-white);
  overflow: hidden;
}
.cu-modal__close {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  right: 0.5rem;
  top: 0.5rem;
  -webkit-mask: url("../img/svg/icon-ex.svg") center no-repeat;
          mask: url("../img/svg/icon-ex.svg") center no-repeat;
  -webkit-mask-size: 1.25rem;
          mask-size: 1.25rem;
  background: var(--color-blue-dark);
}
.cu-modal__close:hover {
  background: var(--color-yellow);
}
.cu-modal.active {
  opacity: 1;
  visibility: visible;
  z-index: 1000;
  pointer-events: all;
  transition-delay: 0ms, 0ms, 10ms;
}

.cu-points {
  flex: 1;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  overflow-y: auto;
}
.cu-points__title {
  font-size: 1.25rem;
  line-height: 1.25rem;
  text-align: center;
  letter-spacing: -0.045rem;
  color: var(--color-blue-dark);
  margin: 0 0 1.875rem;
}
.cu-points__wrapper {
  width: 100%;
  flex: 1;
  padding: 0 1.5625rem;
  overflow-y: auto;
}
.cu-points__points {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.cu-points__points li {
  display: grid;
  grid-template-columns: 5fr 1fr;
  background: var(--color-white);
  border-bottom: 1px solid var(--color-gray-border);
}
.cu-points__points li h5, .cu-points__points li div {
  font-family: var(--font-family-body);
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: -0.02rem;
  line-height: 2.625rem;
}
.cu-points__points li h5 {
  padding: 0 0.9375rem;
  text-transform: uppercase;
}
.cu-points__points li h5 span {
  font-weight: 400;
  text-transform: none;
  margin-left: 0.5rem;
}
.cu-points__points li div {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding-left: 0 1.25rem;
  border-left: 1px solid var(--color-gray-border);
}
.cu-points__points li div::before {
  content: "";
  width: 1.0625rem;
  height: 0.8125rem;
  -webkit-mask: url("../img/svg/icon-checked.svg") center/contain no-repeat;
          mask: url("../img/svg/icon-checked.svg") center/contain no-repeat;
  background: var(--color-blue-dark);
}
.cu-points__points li div.inactivo::before {
  width: 0.9375rem;
  height: 0.9375rem;
  -webkit-mask-image: url("../img/svg/icon-ex.svg");
          mask-image: url("../img/svg/icon-ex.svg");
  background: var(--color-blue-faded);
}
.cu-points__points li:nth-child(even) {
  background: var(--color-blue-transparent);
}
.cu-points__points li:first-child {
  border-top: 1px solid var(--color-gray-border);
}

.cu-hero {
  position: relative;
  height: calc(var(--vw, vw) * 40);
  border-top: 1px solid var(--color-blue-dark);
  border-bottom: 1px solid var(--color-blue-dark);
  background: var(--color-blue-light);
  background: radial-gradient(ellipse at center, var(--color-blue-light), var(--color-blue-dark));
}
.cu-hero .cu-container {
  height: 100%;
}
.cu-hero__content {
  display: flex;
  flex-flow: column nowrap;
  color: var(--color-white);
  padding: 7rem 0 7.5rem;
  height: 100%;
}
.cu-hero__content__left h2 {
  font-size: 3.375rem;
  line-height: 4.125rem;
  letter-spacing: -0.02rem;
  max-width: 41rem;
  margin: 0 0 0.875rem;
}
.cu-hero__content__left h3 {
  font-family: var(--font-family-body);
  font-size: 2.0625rem;
  line-height: 2.4375rem;
  font-weight: 400;
  letter-spacing: -0.1rem;
  max-width: 36.25rem;
}
.cu-hero__content__left p {
  font-size: 1.25rem;
  line-height: 1.375rem;
  letter-spacing: -0.02rem;
  max-width: 20.625rem;
  margin: 0;
}
.cu-hero__content__left .cu-button {
  margin: 2.1875rem 0;
}
.cu-hero__content__left .cu-button::after {
  content: "";
  width: 1.125rem;
  height: 1.125rem;
  margin-left: 0.875rem;
  -webkit-mask: url("../img/svg/icon-search.svg") center/contain no-repeat;
          mask: url("../img/svg/icon-search.svg") center/contain no-repeat;
  background: var(--color-white);
}
.cu-hero__content__image {
  position: absolute;
  width: 62.5%;
  height: auto;
  right: 0;
  top: 50%;
  transform: translateY(-42%);
}

.cu-catalog {
  padding: 3.125rem 0;
}
.cu-catalog__intro {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.cu-catalog__intro h2, .cu-catalog__intro p {
  letter-spacing: -0.02rem;
  color: var(--color-blue-dark);
}
.cu-catalog__intro h2 {
  font-size: 2.1875rem;
  line-height: 2.1875rem;
  margin: 0 0 1.125rem;
}
.cu-catalog__intro p {
  font-size: 1.875rem;
  line-height: 2.0625rem;
  max-width: 45rem;
}
.cu-catalog__slider {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin: 3rem auto 0;
  width: 65.3125rem;
}
.cu-catalog__slider__wrapper {
  display: block;
  width: 100%;
}
.cu-catalog__slider .cu-card {
  width: 20%;
}
.cu-catalog__slider > .cu-button {
  margin-top: 1.875rem;
  color: var(--color-blue-dark);
  background: var(--color-yellow);
}
.cu-catalog__slider > .cu-button:hover {
  color: var(--color-yellow);
  background: var(--color-blue-dark);
}

.cu-reasons {
  padding: 3.75rem 0;
  color: var(--color-white);
  background: linear-gradient(to top, #0190C4, var(--color-blue-dark));
}
.cu-reasons .cu-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}
.cu-reasons__intro h2 {
  font-size: 2.9375rem;
  line-height: 2.9375rem;
  letter-spacing: -0.045rem;
  margin: 0 0 1.375rem;
}
.cu-reasons__intro p {
  font-size: 2.4375rem;
  line-height: 2.4375rem;
}
.cu-reasons__intro p strong {
  display: inline-block;
  padding-bottom: 0.625rem;
  border-bottom: 0.25rem solid var(--color-blue-light);
}
.cu-reasons__reasons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 7.8125rem;
  list-style-type: none;
  margin: 3.125rem 0 0;
  padding: 0;
  max-width: 74.75rem;
}
.cu-reasons__reasons li {
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.cu-reasons__reasons li::before {
  content: "";
  width: 5.25rem;
  height: 5.25rem;
  margin-bottom: 1.25rem;
  border-radius: 50%;
  border: 0.125rem solid var(--color-blue-light);
  background: url("../img/svg/icon-document.svg") center no-repeat;
  background-size: 1.875rem;
}
.cu-reasons__reasons li h3 {
  font-size: 1.75rem;
  line-height: 2.375rem;
  letter-spacing: -0.02rem;
  margin-bottom: 0.875rem;
}
.cu-reasons__reasons li p {
  font-size: 1.375rem;
  line-height: 1.625rem;
}
.cu-reasons__reasons li:nth-child(2)::before {
  background-image: url("../img/svg/icon-lock.svg");
  background-size: 2.1875rem;
}
.cu-reasons__reasons li:last-child::before {
  background-image: url("../img/svg/icon-key.svg");
  background-size: 2.4375rem;
}

.cu-cert {
  position: relative;
  padding: 3.75rem 0;
  height: calc(var(--vw, vw) * 38.0208333333);
  overflow: hidden;
  background: linear-gradient(0deg, var(--color-white) 0%, var(--color-white) 50%, var(--color-gray-background) 100%);
}
.cu-cert .cu-container, .cu-cert__content {
  height: 100%;
}
.cu-cert__content, .cu-cert__content h2 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.cu-cert__content__left {
  color: var(--color-blue-dark);
}
.cu-cert__content__left h2 {
  font-size: 2.9375rem;
  line-height: 3.4375rem;
  letter-spacing: -0.045rem;
  max-width: 28rem;
  margin-bottom: 1.125rem;
  align-items: flex-start;
  justify-content: flex-start;
}
.cu-cert__content__left h2::before {
  display: block;
  content: "";
  width: 4.6875rem;
  height: 5rem;
  margin-bottom: 1.875rem;
  background: url("../img/svg/icon-check.svg") center/contain no-repeat;
}
.cu-cert__content__left p {
  font-size: 1.6875rem;
  line-height: 1.875rem;
  max-width: 36.5rem;
}
.cu-cert__content__image {
  position: absolute;
  display: block;
  width: 67.0572916667%;
  height: auto;
  right: -10%;
  top: 50%;
  transform: translateY(-50%);
}

.cu-category {
  padding: 1.875rem 3.125rem;
}
.cu-category__header {
  width: 100%;
}
.cu-category__header, .cu-category__header__left {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.cu-category__header__left h4 {
  font-family: var(--font-family-body);
  font-size: 1rem;
  line-height: 1rem;
  color: var(--color-blue-shadow);
  margin-right: 1rem;
}
.cu-category__header__search {
  width: 31rem;
}
.cu-category__header__counter {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 700;
  letter-spacing: -0.02rem;
  color: var(--color-blue-shadow);
}
.cu-category__header__counter span {
  display: inline-block;
  margin: 0 0.1875rem;
  color: var(--color-blue-light);
}
.cu-category__content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin: 0 -1.25rem;
}
.cu-category__content__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 2.5rem;
  margin: 0 -1.25rem;
  width: 100%;
}
.cu-category__content .cu-more {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  font-size: 1.0625rem;
  line-height: 1.0625rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 1.5625rem;
}
.cu-category__content .cu-more::after {
  display: block;
  content: "";
  width: 0.75rem;
  height: 1rem;
  margin-top: 0.375rem;
  -webkit-mask: url("../img/svg/icon-arrow.svg") center/contain no-repeat;
          mask: url("../img/svg/icon-arrow.svg") center/contain no-repeat;
  background: var(--color-blue-light);
  transition: background-color 300ms ease-out;
  will-change: background-color;
}
.cu-category__content .cu-more:hover {
  color: var(--color-yellow);
}
.cu-category__content .cu-more:hover::after {
  background: var(--color-blue-dark);
}

.cu-main .cu-single {
  padding: 0 0 1.875rem;
}
.cu-main .cu-single__feature {
  position: relative;
  padding-top: 56.3081009296%;
  margin: 0 0.9375rem;
}
.cu-main .cu-single__feature img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cu-main .cu-single__content {
  position: relative;
  margin: 0.9375rem 0 3.4375rem;
}
.cu-main .cu-single__gallery {
  transition: all 300ms linear;
  overflow-x: hidden;
}
.cu-main .cu-single__gallery__main {
  margin-right: 0.9375rem;
}
.cu-main .cu-single__gallery__main__item {
  width: 100%;
  margin-right: 0.9375rem;
}
.cu-main .cu-single__gallery__main__item a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.cu-main .cu-single__gallery__main__item a img {
  transition: transform 300ms ease-out;
}
.cu-main .cu-single__gallery__main__item a:hover img {
  transform: scale(1.025);
}
.cu-main .cu-single__gallery__thumbs {
  margin-top: 0.9375rem;
}
.cu-main .cu-single__gallery__thumbs__thumb {
  margin-right: 0.9375rem;
  transition: filter 300ms linear;
  filter: grayscale(1);
}
.cu-main .cu-single__gallery__thumbs__thumb.is-nav-selected {
  filter: grayscale(0);
}
.cu-main .cu-single__gallery .flickity-button {
  width: 2.5rem;
  height: 2.5rem;
  background: var(--color-blue-dark);
}
.cu-main .cu-single__gallery .flickity-button .flickity-button-icon {
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  fill: var(--color-yellow);
}
.cu-main .cu-single__gallery .flickity-button:hover {
  background: var(--color-blue-light);
}
.cu-main .cu-single__gallery .flickity-button:hover .flickity-button-icon {
  fill: var(--color-blue-dark);
}
.cu-main .cu-single__gallery .flickity-button.previous {
  left: 1.25rem;
}
.cu-main .cu-single__gallery .flickity-button.next {
  right: 1.25rem;
}
.cu-main .cu-single__info {
  position: absolute;
  width: 37rem;
  height: calc(100% + 12.5rem);
  padding: 1.875rem;
  left: 0;
  top: -12.5rem;
  color: var(--color-black-dark);
  background: var(--color-white);
  transition: transform 300ms linear;
}
.cu-main .cu-single__info ul {
  list-style-type: none;
}
.cu-main .cu-single__info__button {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 5rem;
  height: 5.25rem;
  font-size: 0.75rem;
  line-height: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0 0.625rem 0.625rem 0;
  color: var(--color-blue-dark);
  background: var(--color-white);
  transition: transform 300ms linear;
}
.cu-main .cu-single__info__button::before {
  display: block;
  content: "";
  width: 1.875rem;
  height: 2.125rem;
  -webkit-mask: url("../img/svg/icon-arrow.svg") center/contain no-repeat;
          mask: url("../img/svg/icon-arrow.svg") center/contain no-repeat;
  background: var(--color-blue-dark);
  transition: background-color 300ms ease-out;
  will-change: background-color;
}
.cu-main .cu-single__info__button span {
  display: none;
  margin-top: 0.5rem;
  transition: color 300ms ease-out;
}
.cu-main .cu-single__info__button:hover {
  color: var(--color-blue-shadow);
}
.cu-main .cu-single__info__button:hover::before {
  background: var(--color-blue-light);
}
.cu-main .cu-single__info__button[aria-expanded=false]::before {
  transform: rotate(270deg);
}
.cu-main .cu-single__info__button[aria-expanded=false] .open {
  display: block;
}
.cu-main .cu-single__info__button[aria-expanded=true]::before {
  transform: rotate(90deg);
  margin-right: 0.375rem;
}
.cu-main .cu-single__info__button[aria-expanded=true] .close {
  display: block;
}
.cu-main .cu-single__info__model {
  font-size: 2.8125rem;
  line-height: 2.8125rem;
}
.cu-main .cu-single__info__meta {
  margin-top: 0.3125rem;
}
.cu-main .cu-single__info__meta, .cu-main .cu-single__info__meta p {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.cu-main .cu-single__info__meta p {
  margin: 0;
  font-size: 1.6875rem;
  line-height: 1.6875rem;
}
.cu-main .cu-single__info__meta p:first-child::after {
  display: block;
  content: "";
  width: 0.4375rem;
  height: 0.4375rem;
  border-radius: 50%;
  margin: 0 0.75rem;
  background: var(--color-blue-light);
}
.cu-main .cu-single__info__footer {
  margin-top: 1rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.cu-main .cu-single__info__footer__price {
  justify-content: flex-start;
  font-size: 3.75rem;
  line-height: 3.75rem;
}
.cu-main .cu-single__info__footer__price::before, .cu-main .cu-single__info__footer__price::after {
  display: inline-block;
}
.cu-main .cu-single__info__footer__price::before {
  content: "$";
  font-size: 0.65em;
  margin-right: 1px;
  vertical-align: super;
}
.cu-main .cu-single__info__footer__price::after {
  content: ",00";
  font-size: 0.65em;
  align-self: flex-end;
}
.cu-main .cu-single__info__footer .cu-button {
  font-size: 1.25rem;
  line-height: 2.5rem;
  padding: 0 1.25rem;
  color: var(--color-blue-dark);
  background: var(--color-yellow);
  margin-bottom: -0.75rem;
}
.cu-main .cu-single__info__footer .cu-button:hover {
  color: var(--color-yellow);
  background: var(--color-blue-dark);
}
.cu-main .cu-single__info__extras {
  padding: 1.5625rem 0 0;
  margin-top: 1.25rem;
  border-top: 1px solid var(--color-gray-border-dark);
}
.cu-main .cu-single__info__extras li {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: -0.02rem;
  font-weight: 400;
  margin: 0 0 0.75rem;
}
.cu-main .cu-single__info__extras li::before {
  content: "";
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  margin: 0.5625rem 0.625rem 0 0;
  background: var(--color-blue-light);
}
.cu-main .cu-single__info__extras li:last-child {
  margin: 0;
}
.cu-main .cu-single__info__specs {
  padding: 0;
  margin: 1.875rem 0 2.5rem;
  border-top: 1px solid var(--color-gray-border);
}
.cu-main .cu-single__info__specs li {
  display: grid;
  grid-template-columns: 7fr 3fr;
  border-bottom: 1px solid var(--color-gray-border);
}
.cu-main .cu-single__info__specs li h5, .cu-main .cu-single__info__specs li span {
  font-family: var(--font-family-body);
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: -0.02rem;
  line-height: 2.5rem;
}
.cu-main .cu-single__info__specs li h5 {
  padding-left: 0.9375rem;
  text-transform: uppercase;
}
.cu-main .cu-single__info__specs li span {
  padding-left: 1.25rem;
  border-left: 1px solid var(--color-gray-border);
}
.cu-main .cu-single__info__specs li:nth-child(even) {
  background: var(--color-blue-transparent);
}
.cu-main .cu-single__info__actions {
  margin: 0 0.9375rem;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.875rem;
}
.cu-main .cu-single__info__actions li {
  text-align: center;
  padding: 0.75rem 0.625rem;
  border-radius: 0.3125rem;
  color: var(--color-blue-dark);
  border: 1px solid var(--color-blue-dark);
}
.cu-main .cu-single__info__actions li, .cu-main .cu-single__info__actions li h3 {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.cu-main .cu-single__info__actions li h3 {
  font-family: var(--font-family-body);
  font-size: 1.0625rem;
  line-height: 1.0625rem;
  letter-spacing: -0.02rem;
  margin: 0 0 0.5rem;
}
.cu-main .cu-single__info__actions li h3::before {
  display: block;
  content: "";
  width: 1.5625rem;
  height: 1.6875rem;
  margin-bottom: 0.375rem;
  background: url("../img/svg/icon-calendar.svg") center/contain no-repeat;
}
.cu-main .cu-single__info__actions li p, .cu-main .cu-single__info__actions li button {
  font-size: 0.8125rem;
  line-height: 0.875rem;
  margin: 0;
}
.cu-main .cu-single__info__actions li button {
  margin-top: 0.625rem;
  font-weight: 700;
  color: var(--color-blue-light);
  text-decoration: underline;
}
.cu-main .cu-single__info__actions li button:hover {
  color: var(--color-yellow);
}
.cu-main .cu-single__info__actions li:nth-child(2) h3::before {
  height: 2.0625rem;
  background-image: url("../img/svg/icon-ribbon.svg");
}
.cu-main .cu-single__info__actions li:last-child h3::before {
  width: 1.6875rem;
  height: 1.8125rem;
  background-image: url("../img/svg/icon-check.svg");
}
.cu-main .cu-single__info__times {
  color: var(--color-blue-dark);
  padding: 1.125rem;
  margin-top: 2.25rem;
  border-radius: 0.625rem;
  background: var(--color-white-gray);
  border: 1px solid var(--color-gray-background-dark);
}
.cu-main .cu-single__info__times h3 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-family: var(--font-family-body);
  font-size: 1.125rem;
  line-height: 1.125rem;
  letter-spacing: -0.02rem;
  margin-bottom: 1rem;
}
.cu-main .cu-single__info__times h3::before {
  content: "";
  width: 1.1875rem;
  height: 1.1875rem;
  margin-right: 0.5rem;
  -webkit-mask: url("../img/svg/icon-clock.svg") center/contain no-repeat;
          mask: url("../img/svg/icon-clock.svg") center/contain no-repeat;
  background: var(--color-blue-dark);
}
.cu-main .cu-single__info__times h5, .cu-main .cu-single__info__times p {
  font-family: var(--font-family-body);
  font-size: 1.125rem;
  line-height: 1.125rem;
  font-weight: 400;
  letter-spacing: -0.02rem;
  margin: 0;
}
.cu-main .cu-single__info__times h5 {
  letter-spacing: 0.02rem;
  margin-top: 0.375rem;
}
.cu-main .cu-single__info[aria-hidden=false] {
  transform: translateX(0);
}
.cu-main .cu-single__info[aria-hidden=false] + .cu-single__gallery {
  padding-left: 37rem;
}
.cu-main .cu-single__info[aria-hidden=false] + .cu-single__gallery .cu-single__gallery__thumbs__thumb {
  width: calc(50% - 0.9375rem);
}
.cu-main .cu-single__info[aria-hidden=true] {
  transform: translateX(-100%);
}
.cu-main .cu-single__info[aria-hidden=true] .cu-single__info__button {
  transform: translateX(100%);
}
.cu-main .cu-single__info[aria-hidden=true] + .cu-single__gallery {
  padding-left: 0;
  margin-left: 0.9375rem;
}
.cu-main .cu-single__info[aria-hidden=true] + .cu-single__gallery .cu-single__gallery__thumbs__thumb {
  width: calc(20% - 0.9375rem);
}

.cu-related {
  padding: 0 0.9375rem;
}
.cu-related__title {
  position: relative;
  display: block;
  font-family: var(--font-family-body);
  color: var(--color-blue-dark);
  margin: 0 1.25rem;
  z-index: 1;
}
.cu-related__title::before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  background: var(--color-blue-dark);
  z-index: -1;
}
.cu-related__title span {
  display: inline-block;
  font-size: 1.875rem;
  line-height: 1.875rem;
  letter-spacing: -0.02rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 1rem 0 0;
  background: var(--color-white);
}
.cu-related__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}