.cu-hero {
    position: relative;
    height: calc(var(--vw, vw) * 40);
    border-top: 1px solid var(--color-blue-dark);
    border-bottom: 1px solid var(--color-blue-dark);
    background: var(--color-blue-light);
    background: radial-gradient(ellipse at center, var(--color-blue-light), var(--color-blue-dark));
    .cu-container {
        height: 100%;
    }
    &__content {
        display: flex;
        flex-flow: column nowrap;
        color: var(--color-white);
        padding: 7rem 0 7.5rem;
        height: 100%;
        &__left {
            h2 {
                font-size: 3.375rem;
                line-height: 4.125rem;
                letter-spacing: -0.02rem;
                max-width: 41rem;
                margin: 0 0 0.875rem;
                @include mid-desktop {
                    font-size: 3rem;
                    line-height: 3.75rem;
                    max-width: 37rem;
                }
            }
            h3 {
                font-family: var(--font-family-body);
                font-size: 2.0625rem;
                line-height: 2.4375rem;
                font-weight: 400;
                letter-spacing: -0.01rem;
                max-width: 36.25rem;
                @include mid-desktop {
                    font-size: 1.6875rem;
                    line-height: 2.0625rem;
                    max-width: 33rem;
                }
            }
            p {
                font-size: 1.25rem;
                line-height: 1.375rem;
                letter-spacing: -0.02rem;
                max-width: 20.625rem;
                margin: 0;
                @include mid-desktop {
                    font-size: 1.125rem;
                    line-height: 1.25rem;
                }
            }
            .cu-button {
                margin: 2.1875rem 0;
                &::after {
                    content: '';
                    width: 1.125rem;
                    height: 1.125rem;
                    margin-left: 0.875rem;
                    mask: url('../img/svg/icon-search.svg') center/contain no-repeat;
                    background: var(--color-white);
                }
            }
        }
        &__image {
            position: absolute;
            width: 62.5%;
            height: auto;
            right: 0;
            top: 50%;
            transform: translateY(-42%);
            @include mid-desktop {
                width: 60%;
            }
            @include tablet {
                top: auto;
                width: 70%;
                bottom: -10%;
                right: -14%;
                transform: none;
            }
        }
        @include mid-desktop {
            padding-top: 4.5rem;
        }
    }
    @include tablet {
        height: calc(var(--vw, vw) * 50);
        overflow: hidden;
    }
    @include mini-tablet {
        height: calc(var(--vw, vw) * 64); 
    }
}

.cu-catalog {
    padding: 3.125rem 0;
    overflow: hidden;
    &__intro {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        h2, p {
            letter-spacing: -0.02rem;
            color: var(--color-blue-dark);
        }
        h2 {
            font-size: 2.1875rem;
            line-height: 2.1875rem;
            margin: 0 0 1.125rem;
            @include mid-desktop {
                font-size: 2rem;
                line-height: 2rem;
            }
        }
        p {
            font-size: 1.875rem;
            line-height: 2.0625rem;
            max-width: 45rem;
            @include mid-desktop {
                font-size: 1.625rem;
                line-height: 1.8125rem;
            }
        }
    }
    &__slider {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        margin: 3rem auto 0;
        width: 100%;
        max-width: 65.3125rem;
        &__wrapper {
            display: block;
            width: 100%;
        }
        .cu-card {
            width: 20%;
            @include tablet {
                width: 25%;
            }
            @include mini-tablet {
                width: 33.333333%;
            }
        }
        & > .cu-button {
            margin-top: 1.875rem;
            color: var(--color-blue-dark);
            background: var(--color-yellow);
            &:hover {
                color: var(--color-yellow);
                background: var(--color-blue-dark);
            }
        }
        @include tablet {
            max-width: 53.75rem;
        }
    }
}

.cu-reasons {
    padding: 3.75rem 0;
    color: var(--color-white);
    background: linear-gradient(to top, #0190C4, var(--color-blue-dark));
    .cu-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
    }
    &__intro {
        h2 {
            font-size: 2.9375rem;
            line-height: 2.9375rem;
            letter-spacing: -0.045rem;
            margin: 0 0 1.375rem;
            @include mid-desktop {
                font-size: 2.5rem;
                line-height: 2.5rem;
            }
        }
        p {
            font-size: 2.4375rem;
            line-height: 2.4375rem;
            strong {
                display: inline-block;
                padding-bottom: 0.625rem;
                border-bottom: 0.25rem solid var(--color-blue-light);
            }
            @include mid-desktop {
                font-size: 2rem;
                line-height: 2rem;
            }
        }
    }
    &__reasons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 7.8125rem;
        margin: 3.125rem 0 0;
        max-width: 74.75rem;
        &__item {
            width: 100%;
            &, h3 {
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                justify-content: center;
            }
            h3 {
                font-size: 1.75rem;
                line-height: 2.375rem;
                letter-spacing: -0.02rem;
                margin-bottom: 0.875rem;
                &::before {
                    content: '';
                    width: 5.25rem;
                    height: 5.25rem;
                    margin-bottom: 1.25rem;
                    border-radius: 50%;
                    border: 0.125rem solid var(--color-blue-light);
                    background: url('../img/svg/icon-document.svg') center no-repeat;
                    background-size: 1.875rem;
                }
                @include mid-desktop {
                    font-size: 1.6875rem;
                    line-height: 2.3125rem;
                }
            }
            p {
                font-size: 1.375rem;
                line-height: 1.625rem;
                @include mid-desktop {
                    font-size: 1.3125rem;
                    line-height: 1.5625rem;
                }
            }
            &:nth-child(2) {
                h3 {
                    &::before {
                        background-image: url('../img/svg/icon-lock.svg');
                        background-size: 2.1875rem;
                    }
                }
            }
            &:last-child {
                h3 {
                    &::before {
                        background-image: url('../img/svg/icon-key.svg');
                        background-size: 2.4375rem;
                    }
                }
            }
        }
        @include mid-desktop {
            grid-gap: 6.25rem;
        }
        @include mini-tablet {
            display: block;
            grid-gap: 0;
            max-width: 37.5rem;
            &__item {
                width: 100%;
            }
        }
    }
}

.cu-cert {
    position: relative;
    padding: 3.75rem 0;
    height: calc(var(--vw, vw) * 38.0208333333333333);
    overflow: hidden;
    background: linear-gradient(0deg, var(--color-white) 0%, var(--color-white) 50%, var(--color-gray-background) 100%);
    .cu-container,
    &__content {
        height: 100%;
    }
    &__content {
        &, h2 {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
        }
        &__left {
            color: var(--color-blue-dark);
            h2 {
                font-size: 2.9375rem;
                line-height: 3.4375rem;
                letter-spacing: -0.045rem;
                max-width: 28rem;
                margin-bottom: 1.125rem;
                align-items: flex-start;
                justify-content: flex-start;
                &::before {
                    display: block;
                    content: '';
                    width: 4.6875rem;
                    height: 5rem;
                    margin-bottom: 1.875rem;
                    background: url('../img/svg/icon-check.svg') center/contain no-repeat;
                    @include mid-desktop {
                        width: 4.0625rem;
                        height: 4.375rem;
                        margin-bottom: 1.75rem;
                    }
                }
                @include mid-desktop {
                    font-size: 2.625rem;
                    line-height: 3.125rem;
                }
            }
            p {
                font-size: 1.6875rem;
                line-height: 1.875rem;
                max-width: 36.5rem;
                @include mid-desktop {
                    font-size: 1.5625rem;
                    line-height: 1.75rem;
                    margin-bottom: 3rem;
                }
                @include tablet {
                    max-width: 25rem;
                }
            }
        }
        &__image {
            position: absolute;
            display: block;
            width: 67.0572916666666667%;
            height: auto;
            right: -10%;
            top: 50%;
            transform: translateY(-50%);
            @include mid-desktop {
                width: 64%;
            }
            @include tablet {
                width: 72%;
                right: -14%;
            }
        }
    }
    @include tablet {
        height: calc(var(--vw, vw) * 50);
    }
}